# --- Laravel Standard ---
/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.php_cs.cache
.phpunit.result.cache
docker-compose.override.yml
proxy.crt
proxy.key

# --- PHP & Package Manager ---
composer.lock
auth.json

# --- Testing & Logs ---
.phpunit.cache
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore

# --- IDE & OS Specific ---
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.local

# --- Personal Notes/Drafts ---
# Mengabaikan file catatan pribadi atau draf modul yang belum final
temp/
draft_materi/
